@page
@model Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<div class="dropdown">
        <center>
            <h1 class="display-4">Please choose algorithm.</h1>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Кнопка выпадающего списка
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" asp-area="" asp-page="/Alg/AHP_Fuzzy">AHP Fuzzy</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </center>
    </div>*@
<div class="jumbotron">
    <h1 class="display-4">ММПР онлайн</h1>
    <p class="lead">
        Многокритериальный анализ решений или многокритериальный метод принятия решений (MCDA - Multi-criteria decision analysis) — метод, целью которого является использование ранжирования критериев для объективной и прозрачной оценки различных вариантов решений. В конечном итоге необходимо определить и расставить по предпочтениям доступные варианты решений. Анализ включает в себя разработку матрицы вариантов и критериев, которые следует ранжировать и объединить для выполнения общей оценки каждого варианта решения.
        В этом приложении на сегодняшний день представлены реализации нескольких многокритериальных методов.
    </p>
    <hr class="my-4">
    <p>Доступные многокритериальные методы:</p>
    <p class="lead">
        <a class="btn-secondary btn-lg" asp-area="" asp-page="/Alg/AHP_Fuzzy">AHP</a>
        <a class="btn-secondary btn-lg" asp-area="" asp-page="/Alg/AHP_Fuzzy">AHP Fuzzy</a>
        @*<a class="btn-secondary btn-lg" asp-area="" asp-page="/Alg/AHP_Fuzzy">AHP z</a>*@
    </p>
</div>