@page
@model Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1 class="display-4">ММПР онлайн</h1>
    <p class="lead">
        Многокритериальные методы принятия решений являются методами, цель которых заключается в ранжировании различных вариантов решений.
        В этом приложении на сегодняшний день представлены реализации нескольких многокритериальных методов.
    </p>
    <hr class="my-4">
    <p>Доступные многокритериальные методы:</p>
    <p class="lead">
        <a class="btn-secondary btn-lg" asp-area="" asp-page="/Alg/AHP">AHP</a>
        <a class="btn-secondary btn-lg" asp-area="" asp-page="/Alg/AHPF">FAHP</a>
    </p>
</div>