
.form-text{
    margin-top: 0px;
}
.label-ahp-f-input{
    margin-top: 10px;
}
.submit-ahp-f-intput{
    margin-top: 10px;
}

.mytable{
    margin-top: 25px;
}

.mytextarea {
    resize: both;
    width: 400px;
    height: 150px;
}

.my1{
    margin-bottom: 0px;
}

